input,textarea{border:none;border-radius:0;outline:0;color:var(--text-color);font-family:sans-serif,Arial,Helvetica!important;font-size:14px}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}input[type=number]{-moz-appearance:textfield;padding:0;max-width:50px}input[type=number].fs-12{font-size:12px}input[type=number].fs-11{font-size:11px}input[readonly],input[type=date],input[type=text]{font-weight:700!important}input[readonly]{cursor:default;transition:background-color .4s ease-out}.bgc-gray,input[readonly].bg-gray{background-color:var(--gray-c)!important}input[type=number].fundo-vermelho{background-color:var(--danger-color)!important;color:var(--yt)}

input {
    border-bottom: 1px solid var(--border-color);
}

/* Container */
:root {
    --max-width: 998px;
}

div.container {
    max-width: var(--max-width);
    margin: 30px auto 15px auto;
}

@media print {
    div.container {
        margin-top: 0;
    }
}

div.container > header {
    display: grid;
    grid-template-columns: 340px 1fr;
    font-weight: bold;
    color: var(--gray-dark);
    font-size: 14px;
}

header div.emblema-e-republica {
    display: flex;
}

div.emblema-e-republica figure {
    margin: 0;
}

div.emblema-e-republica div.republica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

div.republica span {
    line-height: 1.5;
    display: block;
    text-transform: uppercase;
}

header div.geo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    margin: 5px 50px -5px 0;
}

div.geo > div {
    max-width: 305px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

div.geo input {
    min-width: 100%;
    margin-left: 4px;
}

header div.linha-do-titulo {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    font-weight: bold;
    margin-top: 30px;
    padding: 0 50px 0 8px;
}

div.linha-do-titulo span, h1 {
    font-size: 17.5px;
    margin: 0;
    color: var(--text-color);
}

div.linha-do-titulo h1 {
    justify-self: end;
}

/* FICHA */
@media print {
    div.ficha.fronte {
        page-break-after: always;
    }
}
/* CABECALHO DA FICHA */
header.cabecalho-da-ficha {
    border: 2px solid var(--border-color);
    min-height: 60px;
    display: grid;
    grid-template-columns: 150px;
    justify-content: end;
    min-width: var(--max-width);
    max-width: var(--max-width);
}

header.cabecalho-da-ficha div {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    align-items: center;
    justify-items: center;
}

header.cabecalho-da-ficha div span:first-child {
    grid-column: 1/4;
    border-bottom: 2px solid var(--border-color);
}

header.cabecalho-da-ficha div span {
    border-left: 2px solid var(--border-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* CORPO DA FICHA */
div.corpo-da-ficha {
    display: grid;
    grid-template-columns: 50px 160px 636px repeat(3, 50px);
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

div.corpo-da-ficha span {
    line-height: 1.2;
}

div.corpo-da-ficha div.col-de-enumeracao-das-linhas {
    display: grid;
    grid-template-rows: repeat(18, 24px) repeat(12, 44px) repeat(8, 24px) 44px;
}

div.col-de-enumeracao-das-linhas span {
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.corpo-da-ficha div.col2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 44px;
}

div.col2 div.subcol > div {
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.col2 div.subcol1 {
    display: grid;
    grid-template-rows: calc(24px * 18) calc(44px * 4) calc(44px * 5) calc(44px * 3) calc(24px * 8);
    grid-template-columns: 50px;
}

div.col2 div.subcol2 {
    display: grid;
    grid-template-columns: 110px;
    grid-template-rows: calc(24px*3) calc(24px*15) repeat(2, calc(44px*2)) calc(44px*5) calc(44px*2) 44px calc(24px*6) calc(24px*2);
}

div.col2 div.subcol3 {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

div.col2 div.subcol span {
    transform: rotate(-90deg);
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: bold;
}

span.sem-rotacao {
    transform: none !important;
    letter-spacing: initial !important;
}

div.corpo-da-ficha div.col3.indicadores {
    display: grid;
    grid-template-rows: repeat(18, 24px) calc(44px*9) repeat(3, 44px) repeat(8, 24px);
} 

div.corpo-da-ficha div.col3.indicadores span {
    display: flex;
    align-items: center;
    padding-left: 4px;
    border-bottom: 1px solid var(--gray);
    border-left: 2px solid var(--border-color);
}

.border2 {
    border-bottom: 2px solid var(--border-color) !important;
}

div.corpo-da-ficha div.col3.indicadores span.bgc-graylight,
div.col-de-celulas-de-entrada input.bgc-graylight {
    background-color: var(--gray-light);
}

div.corpo-da-ficha div.col3.indicadores span.bgc-graydark,
div.corpo-da-ficha div.col-de-celulas-de-entrada span.bgc-graydark {
    background-color: var(--gray) !important;
    color: var(--yt);
    justify-content: center;
}

/* Seccao de Nutricao */
div.col3.indicadores div.nutricao {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

div.col3.indicadores div.nutricao > div {
    display: grid;
    grid-template-rows: repeat(10, 44px);
}

div.nutricao div.c2 span {
    border-left-width: 1px !important;
}

/* Celulas de entrada */
div.col-de-celulas-de-entrada {
    display: grid;
    grid-template-rows: repeat(18, 24px) repeat(12, 44px) repeat(8, 24px);
    grid-template-columns: 50px;
}

div.col-de-celulas-de-entrada input,
div.col-de-celulas-de-entrada span {
    border-bottom: 1px solid var(--gray);
    border-left: 2px solid var(--border-color);
    text-align: center;
}

div.col-de-celulas-de-entrada.bm input {
    border-left: 2px solid var(--gray);
}

div.col-de-enumeracao-das-linhas span:last-child,
div.col2 div.subcol3 div, div.col3.indicadores > span:last-child,
div.col-de-celulas-de-entrada input:last-child {
    border-bottom: none !important;
}

/* PAGINA 1 - FRONTE */
/*div.ficha {
    display: none;
}*/
div.ficha.verso {
    display: block;
}

/* PAGINA VERSO */

div.corpo-da-ficha.verso {
    display: grid;
    grid-template-columns: repeat(2, 50px) calc(110px + 636px) repeat(3, 50px);
}

div.corpo-da-ficha.verso div.col-de-enumeracao-das-linhas {
    display: grid;
    grid-template-rows: repeat(4, 24px) repeat(8, 44px) 24px repeat(3, 44px) 24px repeat(2, 44px) repeat(2, 24px) repeat(3,44px 24px) 44px repeat(6, 24px);
}

div.corpo-da-ficha.verso div.col2 {
    display: grid;
    grid-template-columns: 50px; 
    grid-template-rows: 1fr calc(24px*4);
    border-left: 2px solid var(--border-color);
}

div.col2.verso > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.col2.verso > div:first-child {
    border-bottom: 2px solid var(--border-color);
}

div.col2.verso span {
    transform: rotate(-90deg);
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* COL 3 - COL DE MALARIA CONFIRMADA (TDR/HTZ) E INDICADORES */

div.col3.verso {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 1fr calc(24px*4);
}

div.col3.verso div.subcol {
    border-left: 2px solid var(--border-color);
}

div.col3.verso div.subcol1 {
    display: grid;
    grid-template-columns: 110px;
    grid-template-rows: calc(24px*4) calc(44px*8) 292px repeat(2, 136px) 48px;
}

div.col3.verso div.subcol1 > div {
    border-bottom: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
}

div.col3.verso div.subcol div.flex-start {
    justify-content: flex-start;
}

div.col3.verso div.subcol1 span {
    transform: rotate(-90deg);
    font-weight: bold;
    letter-spacing: 0.5px;
}

div.col3.verso div.subcol.indicadores {
    display: grid;
    grid-template-rows: repeat(4, 24px) repeat(8, 44px) 24px repeat(3, 44px) 24px repeat(2, 44px) repeat(2, 24px) repeat(3,44px 24px) 44px repeat(2, 24px);
}

div.col3.verso div.subcol.indicadores span {
    border-bottom: 1px solid var(--gray);
    display: flex;
    align-items: center;
    padding-left: 4px;
}

div.col3.verso div.subcol.referencia {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: repeat(4, 24px);
}

div.col3.verso div.subcol.referencia span {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding-left: 4px;
}

div.col3.verso div.subcol.referencia span:last-child {
    border-bottom: none;
}

/* COLUNA DE CELULAS DE ENTRADA */
div.corpo-da-ficha.verso div.col-de-celulas-de-entrada {
    display: grid;
    grid-template-rows: repeat(4, 24px) repeat(8, 44px) 24px repeat(3, 44px) 24px repeat(2, 44px) repeat(2, 24px) repeat(3,44px 24px) 44px repeat(6, 24px);
}

div.corpo-da-ficha.verso div.col-de-enumeracao-das-linhas,
div.corpo-da-ficha.verso div.col-de-celulas-de-entrada {
    display: grid;
    grid-template-rows: repeat(4, 24px) repeat(8, 44px) 24px repeat(3, 44px) 24px repeat(2, 44px) repeat(2, 24px) repeat(3,44px 24px) 44px repeat(6, 24px);
}


/* RODAPE DA FICHA */

footer.rodape-da-ficha {
    display: grid;
    grid-template-columns: repeat(2, 332px) calc(var(--max-width) - 332px*2);
    margin-top: 20px;
}

footer.rodape-da-ficha div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer.rodape-da-ficha div:last-child label {
    margin-right: 4px;
}

footer.rodape-da-ficha label,
footer.rodape-da-ficha input {
    font-size: 14px;
}


div.nota{margin-bottom:20px;min-height:79px}@-moz-document url-prefix(){div.nota{min-height:96px}}@media screen and (max-width:var(--max-width)){div.linha.nota{padding-left:0;padding-right:0}}div.nota textarea{font-family:san-serif,Arial,Helvetica;width:985px;padding:5px;line-height:1.5;border:1px solid var(--border-color)}@media print{div.col1.emblema-e-republica,div.container{visibility:visible}div.nota.no-print{display:none}div.nota textarea{padding:0}}div.nota textarea.bold{font-weight:700;border-color:transparent}div.nota textarea:focus{border:2px solid var(--blue)}