.ficha {
    width: var(--layout-width);
    margin: 30px auto 15px;
    font-size: 13px;
}
@media print {
    .ficha {
        margin-top: 0;
    }
}
.ficha-fronte {
    margin-bottom: 15px;
}
.ficha__header {
    display: grid;
    grid-template-columns: 340px 1fr;
    font-weight: 700;
    font-size: 14px
}
.ficha__header--2 {
    display: none;
}
@media print {
    .ficha__header--2 {
        display: grid;
        page-break-before: always;
    }
}
.ficha__header--hide {
    display: none
}
.ficha__col-de-emblema {
    display: flex
}
.ficha__box-descricao-de-emblema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px
}
.ficha__span-descricao-de-emblema {
    line-height: 1.5;
    display: block;
    text-transform: uppercase
}
.ficha__col-de-localizacao {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 15px;
    margin: 5px 50px -5px 0
}
.ficha__col-de-localizacao__subcol {
    max-width: 305px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 33px;
}
.ficha__col-de-localizacao input {
    flex: 1;
    margin-left: 4px
}
.ficha__container-do-titulo {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 200px 741.5px;
    align-items: center;
    font-weight: 700;
    margin-top: 30px;
    padding-left: 8px
}
.ficha__titulo,
.ficha__mod-sis {
    font-size: 17.5px;
    margin: 0;
    color: var(--text-color)
}
.ficha__titulo {
    justify-self: end;
    line-height: 1.5;
}
.header-info-dados {
    min-height: 60px;
    display: grid;
    grid-template-columns: 150px;
    justify-content: end;
    font-weight: 700;
}
@media screen {
    .header-info-dados {
        position: sticky;
        top: 0;
        background-color: var(--yt);
        z-index: 99;
    }
    .body-com-topo-info .header-info-dados {
        top: 36px;
    }
}
.header-info-dados__col {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.header-info-dados__grid-template-cols-3 {
    display: grid;
    grid-template-columns: repeat(3,50px);
}
.ficha__body {
    min-width: 998px;
    display: grid;
    grid-template-columns: 50px 160px 636px repeat(3,50px);
}
.ficha__body span {
    line-height: 1.3
}
.ficha__col-de-nums-de-linhas {
    display: grid;
    grid-template-rows: repeat(18,24px) repeat(12,44px) repeat(8,24px) 44px
}
.ficha__col-de-nums-de-linhas span.--highlight {
    background-color: var(--orange);
}
.ficha__col-row-groups {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 44px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
}
.ficha__col-row-groups__col-1 {
    display: grid;
    grid-template-rows: calc(24px * 18) calc(44px * 4) calc(44px * 5) calc(44px * 3) calc(24px * 8);
    grid-template-columns: 50px
}
.ficha__span--rotate {
    transform: rotate(-90deg);
    letter-spacing: .5px;
    text-align: center;
    font-weight: 700;
}
.ficha__col-row-groups__col-2 {
    display: grid;
    grid-template-columns: 110px;
    grid-template-rows: calc(24px*3) calc(24px*15) repeat(2,calc(44px*2)) calc(44px*5) calc(44px*2) 44px calc(24px*6) calc(24px*2)
}
.ficha__col-row-groups__col-3 {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}
.ficha__col-de-indicadores {
    display: grid;
    grid-template-rows: repeat(18,24px) calc(44px*9) repeat(3,44px) repeat(8,24px)
}
.ficha__indicador {
    padding-left: 4px;
}
.ficha__indicador--realce-gray-light {
    background-color: var(--gray-light);
}
.ficha__indicador--realce-gray-dark {
    background-color: var(--gray-six);
    color: var(--yt);
}
.col-de-indicadores__seccao-de-nutricao {
    display: grid;
    grid-template-columns: repeat(2,50%)
}
.col-de-indicadores__seccao-de-nutricao__col {
    display: grid;
    grid-template-rows: repeat(9,44px)
}
.ficha__col-de-inputs {
    display: grid;
    grid-template-rows: repeat(18,24px) repeat(12,44px) repeat(8,24px);
    grid-template-columns: 50px;
    overflow: hidden;
}
[data-totaleixox]:focus,
.input-nao-celular:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}
.input--font-small {
    font-size: 12px
}
.ficha__body--verso {
    grid-template-columns: repeat(2,50px) calc(110px + 636px) repeat(3,50px)
}
.ficha__col-de-nums-de-linhas--verso {
    grid-template-rows: repeat(4,24px) repeat(8,44px) 24px repeat(3,44px) 24px repeat(2,44px) repeat(2,24px) repeat(3,44px 24px) 44px repeat(6,24px)
}
.ficha__col-de-inputs--verso {
    grid-template-rows: repeat(4,24px) repeat(8,44px) 24px repeat(3,44px) 24px repeat(2,44px) repeat(2,24px) repeat(3,44px 24px) 44px repeat(6,24px)
}
.ficha-verso__col-novos-casos-e-referencias {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 1fr calc(24px*4);
}
.ficha-verso__col-de-diag-e-indicadores {
    display: grid;
    grid-template-columns: 110px 1fr
}
.ficha-verso__col-de-diagnosticos {
    display: grid;
    grid-template-columns: 110px;
    grid-template-rows: calc(24px*4) calc(44px*8) 292px repeat(2,136px) 48px
}
.ficha-verso__container-de-diag {
    padding-left: 4px;
}
.ficha__col-de-indicadores--verso {
    grid-template-rows: repeat(4,24px) repeat(8,44px) 24px repeat(3,44px) 24px repeat(2,44px) repeat(2,24px) repeat(3,44px 24px) 44px repeat(2,24px)
}
.ficha__col-de-inputs--verso {
    grid-template-rows: repeat(4,24px) repeat(8,44px) 24px repeat(3,44px) 24px repeat(2,44px) repeat(2,24px) repeat(3,44px 24px) 44px repeat(2,24px)
}
.ficha-verso__col-de-referencias {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: repeat(4,24px)
}
.ficha__rodape {
    display: grid;
    grid-template-columns: repeat(2,332px) calc(var(--layout-width) - 332px*2);
    margin-top: 20px;
    min-height: 20px;
}
.ficha__rodape__col-de-assinatura {
    display: flex;
    align-items: center;
    justify-content: flex-end
}
.ficha__rodape__label-assinatura {
    margin-right: 4px
}
